:root {
    -webkit-tap-highlight-color: transparent;
    --dark-color: #262634;
    --white-color: #eee;
    --green-color: #52C834;
}

* {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a:hover, a:visited, a:link, a:active
{
    color: white;
}

input {
    line-height: 20px;
    text-align: center;
}

svg {
    width: 80%;
    height: 80%;
    fill: var(--green-color);
    stroke: var(--green-color);
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=checkbox] {
    cursor: pointer;
    background-color: var(--green-color);
}

.none {
    display: none !important;
}

.visability-hidden {
    visibility: hidden;
}

.dark-and-events-none {
    pointer-events: none;
    -webkit-filter: brightness(40%);
            filter: brightness(40%);
}

.pointer-events-none {
    pointer-events: none;
}

.pointer-events-auto {
    pointer-events: auto;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

body {
    background: linear-gradient(to bottom right, var(--dark-color) 50%, var(--white-color) calc(50% + 1px)) no-repeat;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

header {
    font-style: italic;
    font-size: 48px;
    font-weight: 700;
    color: white;
    text-shadow: black;
    text-align: right;
    margin-right: 15%;
}

.container {
    flex-wrap: wrap;
    gap: 48px;
    width: 100%;
    height: calc(100% - 64px);
}


.tabata {
    background-color: #262634;
    width: 240px;
    height: 480px;
    border-radius: 10px;
    box-shadow: 0px 0px 16px 6px rgba(0, 0, 0, 0.2);
    position: relative;
    color: white;
}

.current-state {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 12px;
    font-size: 14px;
    width: 100%;
    text-align: center;
    font-weight: 700;
}

.current-state-short-break, .current-state-long-break {
    color:var(--green-color);
}

.settings, .task-complete{
    position: absolute;
    top: 0;
    left: 0; 
    width: 36px;
    height: 36px;
    background-color: var(--white-color);
    border-radius: 100% 0% 100% 0% / 0% 0% 100% 100%;
    cursor: pointer;
    z-index: 999;
    border-top-left-radius: 10px;
}

.settings svg {
    margin: 2px 0 0 3px;
    fill: var(--green-color);
}

.settings img {
    width: 24px;
    height: 24px;
}

.task-complete {
    left: auto;
    right: 0;
    border: none;
    border-radius: 0% 100% 0% 100% / 0% 0% 100% 100%;
    border-top-right-radius: 10px;
}

.task-complete svg {
    margin: 2px 0 0 5px;
    fill: none;
}

.task-complete-active svg {
    stroke: #D22B2B;
}

.task-complete-text {
    position: absolute;
    font-size: 32px;
    font-weight: 700;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: var(--green-color);
}

.settings-menu {
    position: absolute;
    background-color: white;
    padding: 12px;
    padding-top: 36px;
    border-radius: 10px;
    width: calc(100% - 24px);
    color: black;
}

.settings-menu input {
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    outline: none;
    border: none;
    background-color: var(--green-color);
    font-size: 10px;
    font-weight: 700;
    color: white;
}

.settings-menu input::-webkit-input-placeholder {
    font-weight: 700;
}

.settings-menu input::-moz-placeholder {
    font-weight: 700;
}

.settings-menu input:-ms-input-placeholder {
    font-weight: 700;
}

.settings-menu input::-ms-input-placeholder {
    font-weight: 700;
}

.settings-menu input::placeholder {
    font-weight: 700;
}

.settings-menu>h2 {
    margin-bottom: 6px;
}

.settings-menu-general-settings, .settings-menu-timer-settings {
    margin-bottom: 12px;
    gap: 10px;
    border-top: 2px solid #DBDEE3;
    
}

.settings-menu-delete-pomodoro {
    text-align: center;
    color: white;
    background-color: #e02f2f;
    padding: 2px;
    margin-top: 12px;
    cursor: pointer;
}

.automate-timer, .sound, .work-session, .short-break, .long-break, .pomodoro-count {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 6px;
    align-items: center;
}

.automate-timer>span, .sound>span, .work-session>span, .short-break>span, .long-break>span, .pomodoro-count>span {
    font-size: 14px;
}

.pomodoro-count input {
    width: 30px;
    border-radius: 30px;
}

.settings-menu-item {
    font-size: 10px;
    display: flex;
    flex-direction: row;
    gap: 2px;
    align-items: center;
    font-weight: 500;
}

.input-number-container {
    position: relative;
    width: 20px;
    height: 20px;
}

.input-number-step {
    display: none;
    margin: 0 auto;
}

.input-number-container:hover .input-number-step {
    display: flex;
}

.input-number-increment, .input-number-decrement {
    width: 10px;
    height: 12px;
    top: -12px;
    position: absolute;
    background-color: var(--green-color);
    border: black 1px solid;
    left: -1px;
}
.input-number-decrement {
    left: 10px; 
}

.tabata-container {
    align-items: center;
    gap: 24px;
    width: calc(100% - 48px);
    height: calc(100% - 48px);
    margin: 24px;
}

.timer {
    width: 144px;
    height: 144px;
    border: 4px solid var(--white-color);
    border-radius: 50%;
    font-size: 40px;
    margin-top: 20px;
}

.timer>.flex-center {
    gap: 2px;
}

.timer-hours {
    font-size: 14px;
    top: 40px;
    margin: 24px auto 0;
}

.task>textarea {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: transparent;
    outline: none;
    border: none;
    resize: none;
    vertical-align: middle;
    color: white;
    font-size: 20px;
}

.task>textarea::-webkit-input-placeholder {
    color: white;
    font-style: italic;
}

.task>textarea::-moz-placeholder {
    color: white;
    font-style: italic;
}

.task>textarea:-ms-input-placeholder {
    color: white;
    font-style: italic;
}

.task>textarea::-ms-input-placeholder {
    color: white;
    font-style: italic;
}

.task>textarea::placeholder {
    color: white;
    font-style: italic;
}

.counter {
    align-items: center;
}

.counter>span {
    font-size: 11px;
}

.control {
    gap: 12px;
}

.control>div {
    background-color: white;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.add-btn {
    width: 50px;
    height: 50px;
    border: 2px solid var(--dark-color);
    border-radius: 50%;
    cursor: pointer;
}